* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* bg color image repeat position/size = forma direta sem ocupar muitas linhas*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
  font-family: "inter", sans-serif;
  color: white;
}

#container {
  border: 1px solid green;
  width: 360px;
  margin: 56px auto 0px;
}

/* podemos centralizar elementos inline cetando um text-align ao elemento pai ou forçando-o um display block */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}
